@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --sky-300: oklch(58.41% 0.201 26.027);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-inter: "Inter", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", serif;

  --color-accent-alt: oklch(55.88% 0.3 265.7);

  --gray-300: 0, 0%, 70%;

  --color-bga: 55.88% 0.3 165.7;

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
  --radius-4xl: 2.5rem;
  --radius-5xl: 3rem;

  --animate-bg1: moveVertical 30s ease infinite;
  --animate-bg2: moveInCircle 20s reverse infinite;
  --animate-bg3: moveInCircle 40s linear infinite;
  --animate-bg4: moveHorizontal 40s ease infinite;
  --animate-bg5: moveInCircle 20s ease infinite;
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@layer base {
  body {
    @apply bg-background font-inter;
  }

  .main-content {
    width: calc(100% - 240px);
    @apply transition-[width] duration-700 ease-fluid;
  }
  .sidebar.sidebar_opened + .main-content {
    width: calc(100% - 80px);
    @apply transition-[width] duration-700 ease-fluid;
  }

  [title].icon_tooltip {
    @apply bg-red-500;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted! hover:bg-red-500! cursor-grab;
  }

  .mockup-code {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    min-width: 18rem;
    border-radius: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    @apply bg-background;
  }
  .mockup-code pre span {
    content: attr(data-prefix);
    display: inline-flex;
    text-align: left;
    @apply size-5 rounded-full relative;
  }

  .mockup-code pre {
    padding-bottom: 0.75rem;
    @apply flex items-center;
  }
  .mockup-code pre:before {
    content: "";
    margin-right: 2ch;
  }

  .mockup-code code {
    line-height: 1.7;
    padding-left: 1rem;
  }

  .custom-picker .rcp-fields-floor {
    display: flex;
  }

  .tray__container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 999;
  }

  .tray__backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    @apply bg-background/50 backdrop-blur-xs;
  }

  .tray__content {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }

  .tray__content--wrapper {
    width: 480px;

    margin-inline: auto;
    border-radius: 2.25rem;
    overflow: hidden;
    transition: height 0.2s;
  }

  .tray__content--wrapper--primary {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .highlight-el {
    background-color: none !important;
    background: none !important;
  }

  /* TOASTS */
  /* .my-toast {
    @apply !border-none !rounded-full !shadow-md !ease-fluid !ps-10 !pe-10 !flex !items-center;
    @apply !bg-emerald-50 !text-emerald-700 dark:!bg-red-500 dark:!text-red-400 dark:!shadow-foreground/40;
  } */

  ol:has(li.my-toast) {
    @apply !flex !justify-center;
  }
  [data-expanded="true"].my-toast,
  [data-type="success"].my-toast {
    @apply !border-none !rounded-full !shadow-none !ease-fluid !py-3 !px-6 !flex !items-center !justify-center !w-max;
    @apply !bg-emerald-50 !text-emerald-700 dark:!bg-emerald-950 dark:!text-emerald-300 dark:!shadow-foreground;
  }

  /* CODE HIGHLIGHTER */
  .hljs {
    display: block;
    overflow-x: auto;
    @apply bg-none;
  }
  .hljs,
  .hljs-tag,
  .hljs-subst {
    @apply text-foreground;
  }
  .hljs-strong,
  .hljs-emphasis {
    @apply text-muted-foreground;
  }

  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    @apply text-blue-600 dark:text-blue-200;
  }
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    @apply text-yellow-600 dark:text-yellow-200;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    @apply text-purple-600 dark:text-purple-400;
  }
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    @apply text-rose-600 dark:text-rose-400;
  }
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }
}
