@layer base;
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@variant hover (&:hover);

@theme inline {
  --font-display: "Satoshi", "sans-serif";
  --color-accent: oklch(62.73% 0.25 262.4);
  --color-accent-alt: oklch(55.88% 0.3 265.7);

  --color-bga: 55.88% 0.3 165.7;

  --color-icu-100: oklch(95.9% 0.004 286.32);
  --color-icu-200: oklch(91.98% 0.0098 252.82);
  --color-icu-300: oklch(87.83% 0.0148 264.49);
  --color-icu-400: oklch(82.71% 0.019 258.36);
  --color-icu-500: oklch(77.307% 0.02 261.746);
  --color-icu-600: oklch(57.726% 0.034 260.621);
  --color-icu-700: oklch(41.702% 0.043 258.795);
  --color-icu-800: oklch(32.32% 0.038 258.867);
  --color-icu-900: oklch(23.986% 0.03 257.678);
  --color-icu-1000: oklch(16.814% 0.023 257.526);
  --color-icu-1100: oklch(10.846% 0.016 260.566);

  --ease-fluid: cubic-bezier(0.7, 0, 0.2, 1);
  --radius-4xl: 2.5rem;
  --radius-5xl: 3rem;

  --animate-bg1: moveVertical 30s ease infinite;
  --animate-bg2: moveInCircle 20s reverse infinite;
  --animate-bg3: moveInCircle 40s linear infinite;
  --animate-bg4: moveHorizontal 40s ease infinite;
  --animate-bg5: moveInCircle 20s ease infinite;

  /* Define the keyframes */
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}
@layer base {
  body {
    @apply bg-icu-200 dark:bg-icu-900 font-display;
  }

  .main-content {
    width: calc(100% - 280px);
    @apply transition-[width] duration-700 ease-fluid;
  }
  .sidebar.sidebar_opened + .main-content {
    width: calc(100% - 110px);
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-icu-400 cursor-grab;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-icu-800;
  }

  .form-radiobtn {
    /* button */
    @apply relative flex items-center justify-center font-medium;
    @apply rounded-xl border-none cursor-pointer outline-none;
    @apply active:translate-y-[1px] transition-colors duration-300;
    @apply peer-checked:cursor-default peer-checked:pointer-events-none;

    /* radio colors */
    @apply bg-gray-200 hover:bg-gray-300;
    @apply text-icu-800 hover:text-icu-900;
    @apply dark:text-icu-200 dark:hover:text-icu-100;
    @apply dark:bg-icu-800/70 dark:hover:bg-icu-700/50;

    /* radio checked colors */
    @apply peer-checked:bg-gray-200/50 peer-checked:hover:bg-gray-200/50;
    @apply peer-checked:text-icu-600 peer-checked:hover:text-icu-600;
    @apply peer-checked:dark:bg-icu-900/90 peer-checked:dark:hover:bg-icu-900/90;
    @apply peer-checked:dark:text-icu-700/70 peer-checked:dark:hover:text-icu-700/70;
  }
  .masked {
    /* --smooth-corners: 10, 3; */
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
  }
  .navlink {
    --smooth-corners: 10, 3;
  }
  .sidebar.sidebar_opened .navlink {
    --smooth-corners: 3;
  }

  .mockup-code {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    min-width: 18rem;
    border-radius: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    @apply bg-icu-200 text-icu-800;
    @apply dark:bg-icu-900 dark:text-icu-700/70;
  }
  .mockup-code pre span {
    content: attr(data-prefix);
    display: inline-flex;
    text-align: left;
    @apply size-5 rounded-full relative;
  }

  .mockup-code pre {
    padding-bottom: 0.75rem;
    @apply flex items-center;
  }
  .mockup-code pre:before {
    content: "";
    margin-right: 2ch;
  }

  .mockup-code code {
    line-height: 1.7;
    padding-left: 1rem;
  }

  .custom-picker .rcp-fields-floor {
    display: flex;
  }

  .tray__container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 999;
  }

  .tray__backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    @apply dark:bg-icu-1000/50 bg-icu-600/50;
  }

  .tray__content {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }

  .tray__content--wrapper {
    width: 480px;

    margin-inline: auto;
    border-radius: 2.25rem;
    overflow: hidden;
    transition: height 0.2s;
  }

  .tray__content--wrapper--primary {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .highlight-el {
    background-color: none !important;
    background: none !important;
  }

  /* TOASTS */
  .my-toast.toast-success {
    @apply !border-none !rounded-2xl !shadow-md !ease-fluid !ps-10 !pe-10 !flex  !items-center;
    @apply !bg-emerald-50 !text-emerald-700 dark:!bg-icu-1000 dark:!text-emerald-400 dark:!shadow-icu-900/40;
  }

  /* CODE HIGHLIGHTER */
  .hljs {
    display: block;
    overflow-x: auto;
    @apply bg-none;
  }
  .hljs,
  .hljs-tag,
  .hljs-subst {
    @apply text-icu-900 dark:text-icu-400;
  }
  .hljs-strong,
  .hljs-emphasis {
    @apply text-icu-100;
  }

  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    @apply text-blue-600 dark:text-blue-200;
  }
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    @apply text-yellow-600 dark:text-yellow-200;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    @apply text-purple-600 dark:text-purple-400;
  }
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    @apply text-rose-600 dark:text-rose-400;
  }
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }
}
